/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.body__element {
  margin: 0 auto;
}
.task-matrix {
  width: 500px;
  display: block;
  text-align: right;
}
.task-matrix .task-matrix__img {
  width: 100%;
}
.task-matrix .task-matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .task-matrix { 
    text-align: center;
  }
}
.task-planner {
  display: block;
  width: 500px;
}
.task__value {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-task__content {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
.task__input,
button{
  outline: none;
}
.btn {
  background: none;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn_no-border {
  border: 0px;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.section__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task__input_type_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task__input_type_text:focus {
  color: #333;
}

/* New Task */
.section__heading_mb {
  margin: 0 0 20px;
}
.task__input_new {
  width: 318px;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list__item > * {
  vertical-align: middle;
}

.task-list__item > .task__input_type_checkbox {
  margin: 0 10px;
}
.task-list__item > .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list__item >    .task__input_type_text {
  width: 226px;
}
.btn_type_delete .btn__icon_remove {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn_type_delete .btn__icon_remove:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_type_done .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-list__item .task__input_type_text {
  display: none;
}

.task-list .task-list__item_mode_edit .task__input_type_text {
  display: inline-block;
  width: 224px;
}

.task-list .task-list__item_mode_edit .task__label {
  display: none;
}